/* Change .navbar-brand color and background-color */

.navbar-brand {
    font-weight: bolder;
    margin-left: 20px;
}


/* Set background color of all pages */

body {
    height: 100%;
    background-color: lightgrey;
}

.project.card-body {
    height: 150px
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%
} 

@media screen and (max-width: 450px) {
    /* Remove right and left margins for certain small screens to avoid image overflow */
    .container img {
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }